@model DepartmentVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<form asp-action="Create" asp-controller="Department" class="form-group">
    <br />
    <label asp-for="Department_Name">Department Name</label>
    <br />
    <input type="text" asp-for="Department_Name" placeholder="example = SQL" class="form-control" />
    <span asp-validation-for="Department_Name"  class="text-danger font-bold"></span>
    <br />
    <label asp-for="Department_Code">Department Code</label>
    <br />
    <input type="text" asp-for="Department_Code" placeholder="example = SQ873" class="form-control" />
    <span asp-validation-for="Department_Code" class="text-danger font-bold"></span>
    <br />
    <center>
        <input type="submit" value="Save" class="btn btn-success" />
        <input type="reset" value="Reset" class="btn btn-warning"/>
        <a asp-controller="Department" asp-action="DepartmentServices" class="btn btn-danger" >Cancel</a>
    </center>
</form>

@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}