@model DepartmentVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<form asp-action="Create" asp-controller="Department" class="form-group">
    <br />
    <label asp-for="Department_Name">@Localizer["DepartmentName"]</label>
    <br />
    <input type="text" asp-for="Department_Name" placeholder=@Localizer["PLHDN"] class="form-control" />
    <span asp-validation-for="Department_Name"  class="text-danger font-bold"></span>
    <br />
    <label asp-for="Department_Code">@Localizer["DepartmentCode"]</label>
    <br />
    <input type="text" asp-for="Department_Code" placeholder=@Localizer["PLHDC"] class="form-control" />
    <span asp-validation-for="Department_Code" class="text-danger font-bold"></span>
    <br />
    <center>
        <input type="submit" value=@Localizer["Save"] class="btn btn-success" />
        <input type="reset" value=@Localizer["Reset"] class="btn btn-warning" />
        <a asp-controller="Department" asp-action="DepartmentServices" class="btn btn-danger">@Localizer["Cancel"]</a>
    </center>
</form>

@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}