
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<div>
    <div class="msg">
        Password reseted successfully, Please try to login again.
    </div>
    <div class="row m-t-20 m-b--5 align-center">
        <a asp-controller="User" asp-action="SignIn">Sign In!</a>
    </div>
</div>

