@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<form asp-controller="User" asp-action="ResetPassword" class="form-group">
    <div class="msg">Reset Password</div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input  type="hidden" asp-for="Email"/>
            <input  type="hidden" asp-for="Token"/>
        </div>
        <div class="form-line">
            <input type="password" asp-for="Password" class="form-control" minlength="6" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger font-bold"></span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" asp-for="ConfirmPassword" class="form-control" minlength="6" placeholder="Confirm Password" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger font-bold"></span>
        </div>
    </div>
    <input type="submit" value="Reset" class="btn btn-block btn-lg bg-pink waves-effect" />
    <div class="m-t-25 m-b--5 align-center">
        <a asp-controller="User" asp-action="SignIn">You already have a membership?</a>
    </div>
</form>

