@model SignInVM
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<span asp-Summary-Validation="All"></span>
<form asp-controller="User" asp-action="SignIn" class="form-group">
    <div class="msg">Sign in to start your session</div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="email" asp-for="Email" class="form-control" placeholder="Email Address" required>
            <span asp-validation-for="Email" class="text-danger font-bold"></span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" asp-for="Password" class="form-control" minlength="6" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger font-bold"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 p-t-5">
            <input type="checkbox" asp-for="RememberMe" class="filled-in chk-col-pink">
            <label asp-for="RememberMe">Remember Me</label>
        </div>
        <div class="col-xs-4">

            <input type="submit" value="SIGN IN" class="btn btn-block bg-pink waves-effect" />
        </div>
    </div>
    <div class="row m-t-15 m-b--20">
        <div class="col-xs-6">
            <a asp-controller="User" asp-action="SignUp" >Register Now!</a>
        </div>
        <div class="col-xs-6 align-right">
            <a asp-controller="User" asp-action="ForgetPassword">Forgot Password?</a>
        </div>
    </div>
</form>

